{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <h1>Log in</h1>

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_div }}
      <input type="submit" value="login">
    </form>

  </main>
{% endblock %}
