{% extends 'base.html' %}

{% block title %}{{ arena }}{% endblock %}

{% block content %}
  <main class="container">

    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="{% url 'arena_list' %}">Arenas</a></li>
        <li>{{ arena }}</li>
      </ul>
    </nav>

    <h1>{{ arena }}</h1>
    <ul>
      <li><a href="{% url 'arena_warrior_create' arena.id %}">Submit a warrior</a></li>
      <li><a href="{% url 'arena_leaderboard' arena.id %}">Leaderboard</a></li>
      <li><a href="{% url 'upcoming_battles' %}">Upcoming battles</a></li>
      <li><a href="{% url 'recent_battles' %}">Recent battles</a></li>
    </ul>

  </main>
{% endblock %}
