{% extends 'base.html' %}

{% block content %}
  <main class="container">

    <section>

      <hgroup>
        <h1>{{ meta_title }}</h1>
        <p>
          LLM: {{ battle.get_llm_display }}<br>
          scheduled at {% include 'time.html' with time=battle.scheduled_at %}
        </p>
      </hgroup>

      <div class="grid">
        {% include 'warriors/partials/game.html' with heading="Game 1" id="1_2" game=battle.game_1_2 %}
        {% include 'warriors/partials/game.html' with heading="Game 2" id="2_1" game=battle.game_2_1 %}
      </div>

    </section>

    <section>
      {% if nav_warrior_arena %}
        <nav aria-label="Battles of {{ nav_warrior_arena }}">
          <ul>
            <li>
              {% if warrior_previous_battle_url %}
                <a href="{{ warrior_previous_battle_url }}">↶ Older battle of {{ nav_warrior_arena }}</a>
              {% endif %}
            </li>
            <li>
              <a href="{% url 'warrior_detail' nav_warrior_arena.id %}">
                All battles of {{ nav_warrior_arena }}
              </a>
            </li>
            <li>
              {% if warrior_next_battle_url %}
                <a href="{{ warrior_next_battle_url }}">Newer battle of {{ nav_warrior_arena }} ↷</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      {% endif %}
      <nav aria-label="Battles in this arena">
        <ul>
          <li>
            {% if arena_previous_battle_url %}
              <a href="{{ arena_previous_battle_url }}">↶ Older battle in this arena</a>
            {% endif %}
          </li>
          <li>
            {% if arena_next_battle_url %}
              <a href="{{ arena_next_battle_url }}">Newer battle in this arena ↷</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </section>

  </main>
{% endblock %}
