{% extends 'base.html' %}
{% load percentage %}

{% block content %}
  <main class="container">

    <section>

      <hgroup>
        <h1>{{ meta_title }}</h1>
        <p>
          LLM: {{ battle.get_llm_display }}<br>
          scheduled at {% include 'time.html' with time=battle.scheduled_at %}
        </p>
      </hgroup>

      {% for summary in score_summaries %}
        <table>
          <thead>
            <tr>
              <th>{{ summary.algorithm }}</th>
              {% for game in summary.games %}
                <th><a href="#game-{{ game.id }}">{{ game.warrior_1 }} first</a></th>
              {% endfor %}
              <th>Battle score</th>
            </tr>
          </thead>
          <tbody>
            {% for row in summary.rows %}
              <tr>
                <th><a href="{% url 'warrior:get' row.warrior.id %}">{{ row.warrior }}</a></th>
                {% for score in row.scores %}
                  <td>{% include 'warriors/partials/score.html' with score=score %}</td>
                {% endfor %}
                <td>{% include 'warriors/partials/score.html' with score=row.battle_score %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>
          <small>Warriors similarity: {{ summary.warriors_similarity|percentage }}</small>
        </p>
      {% endfor %}

      <div class="grid">
        {% for block in game_blocks %}
          {% include 'warriors/partials/game.html' with block=block %}
        {% endfor %}
      </div>

    </section>

    <section>
      {% if nav_warrior_arena %}
        <nav aria-label="Battles of {{ nav_warrior_arena }}">
          <ul>
            <li>
              {% if warrior_previous_battle_url %}
                <a href="{{ warrior_previous_battle_url }}">↶ Older battle of {{ nav_warrior_arena }}</a>
              {% endif %}
            </li>
            <li>
              <a href="{% url 'warrior_detail' nav_warrior_arena.id %}">
                All battles of {{ nav_warrior_arena }}
              </a>
            </li>
            <li>
              {% if warrior_next_battle_url %}
                <a href="{{ warrior_next_battle_url }}">Newer battle of {{ nav_warrior_arena }} ↷</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      {% endif %}
      <nav aria-label="Battles in this arena">
        <ul>
          <li>
            {% if arena_previous_battle_url %}
              <a href="{{ arena_previous_battle_url }}">↶ Older battle in this arena</a>
            {% endif %}
          </li>
          <li>
            {% if arena_next_battle_url %}
              <a href="{{ arena_next_battle_url }}">Newer battle in this arena ↷</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </section>

  </main>
{% endblock %}
