{% extends 'base.html' %}

{% block title %}Challenge{% endblock %}

{% block content %}
  <main class="container">

    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="#">Arenas</a></li>
        <li><a href="{% url 'arena_detail' arena.id %}">{{ arena }}</a></li>
        <li>Challenge</li>
      </ul>
    </nav>

    <hgroup>
      <h1>Challenge to a duel</h1>
      <p>{{ opponent }}</p>
    </hgroup>

    <form method="post">
      {% csrf_token %}
      {{ form.as_div }}
      <input type="submit" value="Select">
    </form>

  </main>
{% endblock %}
