{% extends 'base.html' %}

{% block content %}
  <main class="container">

    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="{% url 'arena_detail' arena.id %}">{{ arena }}</a></li>
        <li>Recent battles</li>
      </ul>
    </nav>

    {% if request.user.is_authenticated %}
      <h1>Your recent battles</h1>
    {% else %}
      <h1>Recent battles</h1>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time since</th>
          <th>Spell 1</th>
          <th>Spell 2</th>
        </tr>
      </thead>
      <tbody>
        {% for battle in battles %}
          <tr>
            <td><a href="{% url 'battle_detail' battle.id %}">
              {% include 'time.html' with time=battle.scheduled_at %}
            </a></td>
            <td>{{ battle.scheduled_at|timesince }}</td>
            <td><a href="{% url 'warrior_detail' battle.warrior_arena_1.id %}">
              {{ battle.warrior_arena_1 }}
            </a></td>
            <td><a href="{% url 'warrior_detail' battle.warrior_arena_2.id %}">
              {{ battle.warrior_arena_2 }}
            </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
