{% extends 'base.html' %}

{% block content %}
  <main class="container">
    {% if request.user.is_authenticated %}
      <h1>Your upcoming battles</h1>
    {% else %}
      <h1>Upcoming battles</h1>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Warrior</th>
          <th>Rating</th>
          <th>Next battle at</th>
          <th>Time until</th>
        </tr>
      </thead>
      <tbody>
        {% for warrior in warriors %}
          <tr>
            <td>
              <a href="{% url 'warrior_detail' warrior.id %}">{{ warrior }}</a>
            </td>
            <td>{{ warrior.rating|floatformat:3 }}</td>
            <td>{% include 'time.html' with time=warrior.next_battle_schedule %}</td>
            <td>{{ warrior.next_battle_schedule|timeuntil }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
