{% extends 'base.html' %}

{% block content %}
  <main class="container">

    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="{% url 'arena_detail' arena.id %}">{{ arena }}</a></li>
        <li>Upcoming battles</li>
      </ul>
    </nav>

    {% if request.user.is_authenticated %}
      <h1>Your upcoming battles</h1>
    {% else %}
      <h1>Upcoming battles</h1>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Spell</th>
          <th>Rating</th>
          <th>Next battle at</th>
          <th>Time until</th>
        </tr>
      </thead>
      <tbody>
        {% for warrior in warriors %}
          <tr>
            <td>
              <a href="{% url 'warrior_detail' warrior.id %}">{{ warrior }}</a>
            </td>
            <td>{{ warrior.rating|floatformat:0 }}</td>
            <td>{% include 'time.html' with time=warrior.next_battle_schedule %}</td>
            <td>{{ warrior.next_battle_schedule|timeuntil }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
