{% extends 'base.html' %}

{% block title %}{{ warrior }}{% endblock %}

{% block content %}
  <main class="container">

    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="{% url 'arena_list' %}">Arenas</a></li>
        <li><a href="{% url 'arena_detail' arena.id %}">{{ arena }}</a></li>
        <li>Warrior</li>
      </ul>
    </nav>

    <hgroup>
      <h1>{{ warrior }}</h1>
      {% if warrior.moderation_passed and warrior.author_name %}
        <p>by {{ warrior.author_name }}</p>
      {% endif %}
    </hgroup>

    {% if warrior.moderation_passed is None %}
      <p>
        Hold on for a second, please. We are checking if this warrior is battleworthy.
      </p>
      <a href="" role="button">Reload the page</a> to see the results.

    {% elif not warrior.moderation_passed %}
      <p>
        Sorry, but we cannot battle this warrior.
        Our AI moderator flagged it as not appropriate.
      <p>
      <p>
        You may <a href="{% url 'arena_warrior_create' arena.id %}">submit another warrior</a>, of course.
      </p>

    {% else %}

      {% if show_secrets %}
        <details>
          <summary role="button" class="outline">Body</summary>
          {% include 'exact_text.html' with text=warrior.body %}
        </details>
      {% endif %}

      <h2>Battles</h2>
      <p>
        {% if request.user.is_authenticated %}
          <a href="{% url 'challenge_warrior' warrior.id %}" role="button">Challenge this warrior to a duel</a>
        {% endif %}
      </p>
      <p>
        Next auto battle: {% include 'time.html' with time=warrior.next_battle_schedule %}
        (in {{ warrior.next_battle_schedule|timeuntil }})
      </p>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Score (this vs other)</th>
            <th>Score (other vs this)</th>
            <th><span data-tooltip="Adjusted for warriors' strength">Performance</span></th>
          </tr>
        </thead>
        <tbody>
          {% for battle in battles %}
            <tr>
              <td><a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}">
                {% include 'time.html' with time=battle.scheduled_at %}
              </a></td>
              <td><a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}">
                {{ battle.warrior_2 }}
              </a></td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_1_id }}">
                  {% if not battle.resolved_at_1_2 %}
                    <i>pending</i>
                  {% else %}
                    {% include 'warriors/partials/score.html' with score=battle.game_1_2.score %}
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_2_id }}">
                  {% if not battle.resolved_at_2_1 %}
                    <i>pending</i>
                  {% else %}
                    {% include 'warriors/partials/score.html' with score=battle.game_2_1.score_rev %}
                  {% endif %}
                </a>
              </td>
              <td>
                {% if not battle.resolved_at_1_2 or not battle.resolved_at_2_1 %}
                  <i>pending</i>
                {% else %}{{ battle.performance_str }}{% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">
                No battles yet, but one should be scheduled soon.
                <a href="" role="button">Reload the page</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Details</h2>
      <dl>
        {% if warrior.author_name %}
          <dt>Author</dt>
          <dd>{{ warrior.author_name }}</dd>
        {% endif %}
        <dt>Created at</dt>
        <dd>{% include 'time.html' with time=warrior.created_at %}</dd>
        <dt>Rating points</dt>
        <dd>
          {{ warrior.rating|floatformat:0 }}
          <small>±{{ warrior.rating_error_abs|floatformat:0 }}</small>
        </dd>
        <dt>Games played</dt>
        <dd>{{ warrior.games_played }}</dd>
        <dt>Id</dt>
        <dd><code>{{ warrior.id }}</code></dd>
      </dl>

      {% if warrior_user_permission %}
        <h2>Settings</h2>
        <form method="post" action="{% url 'warrior_set_public_battles' warrior.id %}">
          {% csrf_token %}
          <label>
            <input type="checkbox" name="public_battle_results"
              {% if warrior_user_permission.public_battle_results %}checked{% endif %}
            />
            Make battle results public
          </label>
          <input type="submit" value="Save" />
        </form>
      {% endif %}

    {% endif %}
  </main>
{% endblock %}
