{% extends 'base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
  <main class="container">
    <h1>{{ object }}</h1>

    {% if object.moderation_passed is None %}
      <p>
        Hold on for a second, please. We are checking if this warrior is battleworthy.
      </p>
      <a href="" role="button">Reload the page</a> to see the results.

    {% elif not object.moderation_passed %}
      <p>
        Sorry, but we cannot battle this warrior.
        Our AI moderator flagged it as not appropriate.
      <p>
      <p>
        You may <a href="{% url 'warrior_create' %}">submit another warrior</a>, of course.
      </p>

    {% else %}
      <dl>
        {% if show_secrets %}
          <dt>Body</dt>
          <dd><pre>{{ object.body }}</pre></dd>
        {% endif %}
        {% if object.name %}
          <dt>Name</dt>
          <dd>{{ object.name }}</dd>
        {% endif %}
        {% if object.author %}
          <dt>Author</dt>
          <dd>{{ object.author }}</dd>
        {% endif %}
        <dt>Created at</dt>
        <dd>{{ object.created_at }}</dd>
        <dt>Rating points</dt>
        <dd>{{ object.rating|floatformat:3 }}</dd>
        <dt>Games played</dt>
        <dd>{{ object.games_played }}</dd>
        <dt>Id</dt>
        <dd><code>{{ object.id }}</code></dd>
      </dl>

      <h2>Battles</h2>
      <table>
        <thead>
          <tr>
            <th>Scheduled at</th>
            <th>Opponent</th>
            <th>Score (this vs other)</th>
            <th>Score (other vs this)</th>
            <th>Rating change</th>
          </tr>
        </thead>
        <tbody>
          {% for battle in battles %}
            <tr>
              <td>{{ battle.scheduled_at }}</td>
              <td><a href="{% url 'warrior_detail' battle.warrior_2.id %}">{{ battle.warrior_2 }}</a></td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_1_id }}">
                  {% if not battle.resolved_at_1_2 %}<span aria-busy="true"></span>
                  {% else %}{{ battle.game_1_2.score|floatformat:3 }}{% endif %}
                </a>
              </td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_2_id }}">
                  {% if not battle.resolved_at_2_1 %}<span aria-busy="true"></span>
                  {% else %}{{ battle.game_2_1.score_rev|floatformat:3 }}{% endif %}
                </a>
              </td>
              <td>
                {% if not battle.rating_transferred_at %}<span aria-busy="true"></span>
                {% else %}{{ battle.warrior_1_rating|floatformat:3 }} {{ battle.rating_gained_str }}{% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">
                No battles yet, but one should be scheduled soon.
                <a href="" role="button">Reload the page</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </main>
{% endblock %}
