{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <h1>Top 100 leaderboard</h1>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Rating points</th>
          <th>Games played</th>
        </tr>
      </thead>
      <tbody>
        {% for warrior in warriors %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'warrior_detail' warrior.id %}">{{ warrior }}</a>
            </td>
            <td>{{ warrior.rating|floatformat:3 }}</td>
            <td>{{ warrior.games_played }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
