{% extends 'base.html' %}

{% block title %}{{ warrior }}{% endblock %}

{% block content %}
  <main class="container">

    <h1>{{ warrior }}</h1>

    {% if warrior.moderation_passed is None %}
      <p>
        Hold on for a second, please. We are checking if this warrior is battleworthy.
      </p>
      <a href="" role="button">Reload the page</a> to see the results.

    {% elif not warrior.moderation_passed %}
      <p>
        Sorry, but we cannot battle this warrior.
        Our AI moderator flagged it as not appropriate.
      <p>
      <p>
        You may <a href="{% url 'warrior_create' %}">submit another warrior</a>, of course.
      </p>

    {% else %}

      {% if show_secrets %}
        <details>
          <summary role="button" class="outline">Body</summary>
          {% include 'exact_text.html' with text=warrior.body %}
        </details>
      {% endif %}

      <dl>
        {% if warrior.name %}
          <dt>Name</dt>
          <dd>{{ warrior.name }}</dd>
        {% endif %}
        {% if warrior.author_name %}
          <dt>Author</dt>
          <dd>{{ warrior.author_name }}</dd>
        {% endif %}
        <dt>Created at</dt>
        <dd>{% include 'time.html' with time=warrior.created_at %}</dd>
        <dt>Rating points</dt>
        <dd>{{ warrior.rating|floatformat:0 }}</dd>
        <dt>Games played</dt>
        <dd>{{ warrior.games_played }}</dd>
        <dt>Id</dt>
        <dd><code>{{ warrior.id }}</code></dd>
      </dl>

      <h2>Battles</h2>
      <p>
        {% if request.user.is_authenticated %}
          <a href="{% url 'challenge_warrior' warrior.id %}" role="button">Challenge this warrior to a duel</a>
        {% endif %}
      </p>
      <p>
        Next auto battle: {% include 'time.html' with time=warrior.next_battle_schedule %}
        (in {{ warrior.next_battle_schedule|timeuntil }})
      </p>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Score (this vs other)</th>
            <th>Score (other vs this)</th>
            <th><span data-tooltip="Adjusted for warriors' strength">Performance</span></th>
          </tr>
        </thead>
        <tbody>
          {% for battle in battles %}
            <tr>
              <td><a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}">
                {% include 'time.html' with time=battle.scheduled_at %}
              </a></td>
              <td><a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}">
                {{ battle.warrior_2 }}
              </a></td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_1_id }}">
                  {% if not battle.resolved_at_1_2 %}
                    <i>pending</i>
                  {% else %}
                    {% include 'warriors/partials/score.html' with score=battle.game_1_2.score %}
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{% url 'battle_detail' battle.id %}?{{ request.GET.urlencode }}#{{ battle.game_2_id }}">
                  {% if not battle.resolved_at_2_1 %}
                    <i>pending</i>
                  {% else %}
                    {% include 'warriors/partials/score.html' with score=battle.game_2_1.score_rev %}
                  {% endif %}
                </a>
              </td>
              <td>
                {% if not battle.rating_transferred_at %}
                  <i>pending</i>
                {% else %}{{ battle.performance_str }}{% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">
                No battles yet, but one should be scheduled soon.
                <a href="" role="button">Reload the page</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </main>
{% endblock %}
