<section id="{{ id }}">
  <h2>{{ heading }}</h2>
  <dl>

    <dt>First warrior</dt>
    <dd>
      <a href="{% url 'warrior_detail' game.warrior_1.id %}">{{ game.warrior_1 }}</a>
      {% if game.resolved_at %}
        {% include 'warriors/partials/score.html' with score=game.score %}
      {% endif %}
    </dd>

    <dt>Second warrior</dt>
    <dd>
      <a href="{% url 'warrior_detail' game.warrior_2.id %}">{{ game.warrior_2 }}</a>
      {% if game.resolved_at %}
        {% include 'warriors/partials/score.html' with score=game.score_rev %}
      {% endif %}
    </dd>

    <dt>Result</dt>
    <dd>
      {% if not game.resolved_at %}
        <i>Battle is not resolved yet</i>
      {% elif show_secrets %}
        {% include 'exact_text.html' with text=game.result %}
      {% else %}
        <i>Hidden. Only the warriors' authors can see it.</i>
      {% endif %}
    </dd>

  </dl>
</section>
