{% load percentage %}

<div id="game-{{ block.game.id }}">
  <h2>{{ block.game.warrior_1 }} goes first</h2>
  <dl>

    <dt>Prompt order</dt>
    <dd>
      <a href="{% url 'warrior:get' block.game.warrior_1.id %}">{{ block.game.warrior_1 }}</a>
      then
      <a href="{% url 'warrior:get' block.game.warrior_2.id %}">{{ block.game.warrior_2 }}</a>
    </dd>

    {% if block.game.finish_reason %}
      <dt>Finish reason</dt>
      <dd>{{ block.game.finish_reason }}</dd>
    {% endif %}

    {% if block.game.llm_version %}
      <dt>LLM version</dt>
      <dd>{{ block.game.llm_version }}</dd>
    {% endif %}

  </dl>

  <details>
    <summary role="button" class="outline">Result</summary>
    {% if not block.game.resolved_at %}
      <i>Game is not resolved yet</i>
    {% elif block.result_visible %}
      {% include 'exact_text.html' with text=block.game.result %}
    {% else %}
      <i>Hidden. Only the warriors' authors can see it.</i>
    {% endif %}
  </details>

  {% for scoring in block.scorings %}
    <table>
      <thead>
        <tr>
          <th>{{ scoring.algorithm }}</th>
          <th>Result similarity</th>
          <th>Relative (100% sum)</th>
        </tr>
      </thead>
      <tbody>
        {% for warrior_scoring in scoring.warriors %}
          <tr>
            <td>{{ warrior_scoring.warrior }}</td>
            <td>{{ warrior_scoring.similarity|percentage }}</td>
            <td>{% include 'warriors/partials/score.html' with score=warrior_scoring.score %}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>Cooperation score</td>
          <td colspan="2">{{ scoring.cooperation_score|percentage }}</td>
        </tr>
      </tbody>
    </table>

    {% if scoring.marks_result and block.game.resolved_at %}
      {% for warrior_scoring in scoring.warriors %}
        <details>
          <summary role="button" class="outline">
            Result common with {{ warrior_scoring.warrior }} &mdash;
            {{ warrior_scoring.similarity|percentage }}
          </summary>
          {% if warrior_scoring.marked_result %}
            {% include 'exact_text.html' with text=warrior_scoring.marked_result %}
          {% else %}
            <i>Hidden. Only the warrior's author can see it.</i>
          {% endif %}
        </details>
      {% endfor %}
    {% endif %}
  {% endfor %}

</div>
