<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Prompt wars{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer class="container">
      <nav>
        <aside>
          <ul>
            <li><a href="{% url 'warrior_leaderboard' %}">Leaderboard</a></li>
            <li><a href="{% url 'warrior_create' %}">New warrior</a></li>
          </ul>
        </aside>
        <aside>
          <ul>
            <li>For the glory of mankind!</li>
          </ul>
        </aside>
      </nav>
    </footer>
  </body>
</html>
