<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Prompt wars{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>

    <header class="container">
      {% block header %}
        <nav>
          <ul>
            <li><strong>
              <a href="{% url 'warrior_create' %}" class="contrast">Prompt wars</a>
            </strong></li>
            <li><a href="{% url 'warrior_leaderboard' %}">Leaderboard</a></li>
          </ul>
          <ul>
            {% if user.is_authenticated %}
              <li>
                Hi, {{ user.username }}!
                <a href="{% url 'logout' %}">Log out</a>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}">Log in</a></li>
              <li><a href="{% url 'signup' %}">Sign up</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endblock %}
    </header>

    {% block content %}{% endblock %}

    <footer class="container">
      <small>
        <a href="{% url 'warrior_leaderboard' %}">Leaderboard</a>
        •
        <a href="{% url 'warrior_create' %}">New warrior</a>
        •
        <span>
          Want some <a href="https://github.com/SupraSummus/prompt-wars">source code</a>?
        </span>
        •
        <span>For the glory of mankind!</span>
      </small>
    </footer>

  </body>
</html>
